* {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

html,
body {
  min-height: 100vh;
  background-color: inherit;
}

#App {
  text-align: center;
  bottom: 0;
  top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
}

div {
  background-color: transparent;
}

#root {
  background-color: inherit;
}

h1 {
  font-family: "din-2014", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "input-sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.dark {
  background-color: rgb(0, 0, 0);
  color: rgb(12, 255, 162);
  height: 100%;
  margin: 0;
}

.light {
  background-color: white;
  color: black;
  height: 100%;
}

.App-header {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
  height: 100px;
  position: fixed;
  margin-top: 0;
  background-color: transparent;
  top: 0;
}

.header-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  z-index: 2;
  height: 100px;
  position: fixed;
  margin-top: 0;
  color: inherit;
  background-color: inherit;
  border-bottom: solid;
  top: 0;
}

.navbar-button {
  font-family: "input-sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 17px;
  border: none;
  color: inherit;
}

#info {
  padding: 30px;
  font-family: "input-sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

#menu-bar {
  flex-direction: row;
  display: flex;
  gap: 1rem;
  margin-left: 15rem;
}

hr {
  width: 80rem;
  stroke: 4px;
  color: inherit;
}

a {
  color: inherit;
  background: none;
}

p {
  font-family: "input-mono", monospace;
  font-weight: 100;
  font-style: normal;
  color: inherit;
}

#intro {
  font-family: "input-mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.content {
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  float: none;
  position: relative;
  top: 100px;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#intro {
  display: flex;
  flex-direction: column;
  height: 5rem;
  margin-bottom: 30px;
  justify-content: center;
}

#about {
  display: flex;
  flex-direction: column;
  height: 10rem;
}

#about-me {
  font-family: "din-2014", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

#skills-box {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

#skills {
  font-family: "din-2014", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

#projects {
  font-family: "din-2014", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-top: 4rem;
}
#projects-div {
  font-family: "input-mono", monospace;
  font-weight: 100;
  font-style: normal;
  height: 20rem;
  margin: 20px;
  margin: 2rem;
}

.project-title-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  height: 35px;
}

.project-title {
  font-family: "input-mono", monospace;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.project-divs {
  display: flex-box;
  flex-direction: column;
  border: 2px solid;
  width: 19rem;
  padding: 1rem;
  height: 22rem;
  border-radius: 5px;
  transition: all 0.4s;
}

.project-divs:hover {
  bottom: 100%;
  left: 100%;
  transform: translate(3%, -3%);
}

#project-div-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

#project-div-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.language-box {
  font-family: "input-mono", monospace;
  font-size: small;
  font-weight: 100;
  font-style: italic;
  color: inherit;
  margin-bottom: 10px;
}

.project-description {
  font-family: "input-mono", monospace;
  font-size: medium;
  font-weight: 100;
  font-style: normal;
  color: inherit;
}
.project-icon {
  color: inherit;
}

.project-icon-div {
  display: flex;
  align-items: baseline;
  gap: 3px;
  margin-left: 5px;
}

#www-icon {
  height: 21px;
  width: 21px;
  padding: 0;
}

#github-logo-project {
  height: 23px;
  width: 23px;
  padding: 0;
}

#weather-app-img {
  height: 150px;
  width: 200px;
  border-radius: 5px;
}

#to-do-app-img {
  height: 150px;
  width: 200px;
  border-radius: 5px;
}

#tic-tac-toe-img {
  height: 150px;
  width: 200px;
  border-radius: 5px;
}

#resume-box {
  height: 10rem;
  background-color: inherit;
  padding-top: 45rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  gap: 20px;
}

#resume {
  display: flex;
  flex-direction: column;
  font-family: "din-2014", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

#resume-button {
  background: none;
  width: 10rem;
  font-family: "input-mono", monospace;
  font-weight: 200;
  font-style: normal;
  height: 2.5rem;
  border-radius: 10px;
  margin: 2rem;
  color: inherit;
  border: solid 2px;
  border-color: inherit;
  transition: all 0.2s ease-in-out;
}

#resume-button:hover {
  transform: scale(1.1);
}

.svg-box {
  display: grid;
  row-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

svg {
  height: 30px;
  background: none;
}

.skill-divs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

#github-icon {
  height: 40px;
}

.footer-icon {
  color: inherit;
}

#checkbox {
  color: inherit;
}

#checkbox:checked {
  background: rgba(40, 40, 40, 0.7);
}

#www-icon {
  transition: all 0.2s ease-in-out;
}

#www-icon:hover {
  transform: scale(1.1);
}

#github-logo-project {
  transition: all 0.2s ease-in-out;
}

#github-logo-project:hover {
  transform: scale(1.1);
}

.footer-icon {
  transition: all 0.2s ease-in-out;
}

.footer-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  #intro,
  #info {
    display: flex;

    flex-direction: column;
  }

  #about-me {
    display: flex;

    flex-direction: column;
  }
  #skills-box,
  .skill-divs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* Small Devices, Tablets */
/* @media only screen and (min-width: 768px) {
  body {
    width: 75%;
    height: 100%;
  }
} */

/* Medium Devices, Desktops */
/* @media only screen and (min-width: 992px) {
  body {
    width: 50%;
    height: 100%;
  }
} */

@media only screen and (max-width: 800px) {
  #project-div-1,
  #project-div-2 {
    flex-direction: column;
  }

  .App-header {
    float: none;
    display: block;
    text-align: left;
  }

  #menu-bar {
    float: none;
    text-align: right;
    margin-left: 0;
    margin-top: 10px;
  }

  #resume-box {
    margin-top: 50rem;
  }
}
